.Slideshow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &.home {
    height: 100vh;
  }
}

.image {
  height: 100%;
  width: 100%;
}

.nav {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrowBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
}
