// COLORS
$primary-color-gray: rgb(179, 187, 196);
$secondary-color-gray: rgb(105, 110, 116);
$dark-gray: #696e74;

// GRID
$min-tablet: '770px';
$min-desktop: '1080px';

// FONT WEIGHT
$small-weight: 300;
$normal-weight: 400;