.gallery {
  height: 100vh;
  position: relative;
  animation: fadeIn 2s;

  overflow: auto;
  flex: 1 1;
  //   margin-left: 220px;
  // display: grid;
  // grid-template-columns: [sidebar-start]repeat(1, 16.25rem)
  // [sidebar-end gallery-gap-start] 2rem [gallery-start]
  // repeat(6, 1fr) [gallery-end] 2rem [gallery-end-gap];
  // grid-template-rows: [header-start] .1fr;
}

// .header {
//   grid-column: 5 / 9;
//   grid-row-start: 1;
//   font-size: 9rem;
//   justify-self: center;
// }
